@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i');

.copen-nav {
    background-color: #1b1b1b;
    box-shadow: 0px 1px 10px #999;
}

.copen-links {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
}

.copen-title {
    font-family: 'Yeseva One', serif;
    font-size: 36px;
    animation: colorchange 3s linear 0s infinite;
}

.copen-img {
    filter: brightness(90%);
}

h1 {
    font-family: 'Yeseva One', serif;
    font-size: 70px;
    color: #ffffff;
}

.copen-overlay {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.copen-intro {
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 149%;
    padding: 40px;
}

.copen-button1 {
    background-color: #5F7A64;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    border-radius: 200px;
    padding: 8px 28px 8px 28px;
    border: none;
}

.copen-button1:hover {
    background-color: #ffffff;
    color: #5F7A64;
    transition: background-color 3s;
}

.copen-button2 {
    background-color: #5F7A64;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    border-radius: 200px;
    padding: 8px 28px 8px 28px;
    border: none;
}

.copen-button2:hover {
    background-color: #1b1b1b;
    color: #ffffff;
    transition: background-color 3s;
}

h2 {
    font-family: 'Yeseva One', serif;
    font-size: 45px;
    color: #ffffff;
}

.copen-ttractions {
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 149%;
    padding: 40px;
}

.copen-contact {
    background-color: #ffffff;
}

.copen-contact h2 {
    color: #5F7A64;
    font-size: 24px;
    line-height: 149%;
    padding-top: 40px;
}

.copen-label {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
}

.copen-form {
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 100px;
    border-color: #E0E0E0;
    color: #828282;
    padding: 20px;
}

.copen-list {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 15px;
    font-weight: 400;
    line-height: 228%;
}

.copen-input {
    padding-bottom: 15px;
}

.copen-imghigh {
    width:100%;
    height: 414px;
    object-fit: cover;
    display:inline-block;
    filter: grayscale(0%) brightness(90%);
    transition: all 0.5s ease;
}

.copen-imghigh:hover {
    filter: grayscale(100%);
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.copen-highimg {
    width:100%;
    height: 413px;
    object-fit: cover;
    display:inline-block;
    filter: grayscale(0%) brightness(90%);
    transition: all 0.5s ease;
}

h3 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
}
.copen-overlay2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.copen-overlay2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.copen-tivoli {
    position: relative;
}

.copen-caption {
    position: absolute;
    top: 72%;
    left: 0%;
    width: 100%;
}

.copen-caption-time {
    position: absolute;
    top: 50%;
    left: 0%;
    width: 100%;
}

.caption-text {
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    background-color:rgb(27,27,27, 0.9);
    line-height: 149%;
    padding: 17px 40px 17px 40px;
}

.copen-imgfit {
    width:100%;
    height: 413px;
    object-fit: cover;
    display:inline-block;
}

.copen-footer {
    background-color: #F2F2F2;
    margin-top: 35px;
    padding: 35px;
}

.copen-footer-content {
    color: #5F7A64;
    font-family: 'Josefin Sans', sans-serif;
}

.copen-socials {
    color: #1b1b1b;
    font-size: 24px;
    padding-right: 10px;
}

.copen-socials:hover {
    color: #5F7A64;
    transition: all 1s ease;
}

@keyframes colorchange {
    0% { color: #ffffff; }
    50% { color: #5F7A64; }
    100% { color: #ffffff; }
}